<div class="app-container">
    <div class="app-header">
        <h1>{{title}}</h1>
    </div>
    <div class="app-body">
        <app-sidebar
            #sidebar
            (addConversationClick)="onAddConversation()"
            (conversationSelected)="onConversationSelected($event)"
            (conversationDeleted)="onConversationDeleted($event)">
        </app-sidebar>
        <app-chatbox 
            [isAddingConversation]="isAddingConversation"
            [activeConversationId]="activeConversationId"
            (conversationCreated)="onConversationCreated($event)">
        </app-chatbox>
    </div>
</div>